html {
    min-height: 100%;
    position: relative;
    width: 100%;
}

body {
    margin: 0;
    padding-bottom: 75px;
    height: 100%;
}

.navbar-custom {
    background-color: #e40319;
    overflow: hidden;
}

footer {
    background-color: rgb(33, 37, 41);
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bgImageFood {
    background-image: url("images/index-food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.bgImageFood h1 {
    color: white;
    font-size: 100px;
    padding-top: 150px;
}

#menuBtn {
    background-color: #ffffff;
    font-size: 50px;
    border-radius: 20px;
    font-weight: bold;
    border: 5px solid black;
}

#menuBtn:hover {
    background-color: #ad0617;
    color: white;
}

#exampleDishesRow {
    padding-top: 50px;
    padding-bottom: 30px;
}

#exampleDishesRow img {
    height: 300px;
    width: 300px;
    object-fit: contain;
}

#exampleDishesRow h3 {
    font-weight: bold;
}

#exampleDishesRow span {
    font-size: 20px;
    text-align: center;
}

#sortiranje {
    border-color: #e40319;
    color: black;
}

#trazi-btn {
    border-color: #e40319;
    color: black;
}

#trazi-btn:hover {
    background-color: #e40319;
    color: white;
}

#addToCartToast {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 900;
}

.btn-group[role="group"] button:enabled,
#orderButton {
    color: black;
    border-color: #e40319;
}

.btn-group[role="group"] button:hover,
#orderButton:hover {
    background-color: #e40319;
    color: white;
}

.btn-quantity {
    color: black;
    border-width: 0;
    opacity: 1 !important;
    width: 3em;
}

td {
    vertical-align: middle;
    text-align: center;
}

#totalPriceRow td {
    background-color: #f0f0f0 !important;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}

#orderButtonRow td {
    background-color: #ffffff !important;
    border-width: 0;
    padding-right: 15px;
}

#dostava img {
    height: 300px;
    width: 300px;
    object-fit: contain;
}

#dostava h3,
#posetiteNas h3 {
    font-weight: bold;
}

#dostava span,
#posetiteNas p {
    font-size: 20px;
    text-align: center;
}

#dostavaBtn {
    background-color: #ffffff;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #e40319;
    color: #e40319;
}

#dostavaBtn:hover {
    background-color: #e40319;
    color: white;
}

#logoimg {
    height: 70px;
}

#logoname {
    font-size: 32px;
}

#navbarNav {
    font-size: 20px;
}

#posetiteNas {
    background-color: #e40319;
    color: white;
    padding-top: 100px;
}

#zapratiteNas {
    background-color: rgb(252, 241, 208);
    padding: 30px;
}

#zapratiteNas h2 {
    font-weight: bold;
}

#zapratiteNas div {
    padding: 20px;
}

#zapratiteNas div img {
    height: calc(25vw - 10px);
    width: calc(25vw - 10px);
    object-fit: cover;
}

#socialNetworksName {
    color: #e40319;
}



.card-img-top {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.food-card-img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

@media (max-width: 768px) {
    .food-card-img {
        height: 100%;
    }

}

.card {
    width: 100%;
    border-color: #e40319;
    border-width: 2px;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
}

.card-body .btn {
    color: #e40319;
    border: 2px solid #e40319;
}

.card-body .btn:hover {
    background-color: #e40319;
    color: white;
    border: 2px solid white;
}

.card-link {
    text-decoration: none;
    color: inherit;
    text-align: center;
    width: calc(90% - 20px);
    margin: 20px;
    height: 100%;
}

.card-link:hover {
    text-decoration: none;
    color: inherit;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jelo-card {
    padding: 0%;
    margin: 10px;
}



@media (min-width: 768px) {
    .jelo-kartica {
        min-height: 200px;
    }
}

@media (min-width: 0) {
    .text-xs-center {
        text-align: center;
    }
}

#ime-kategorije,
#ime-kategorije-eng {
    font-weight: bold;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

body#galerija {
    background-color: rgb(252, 241, 208);
}

#logo-o-nama {
    height: 300px;
    width: 300px;
}

#nameDescription p {
    font-size: 20px;
}

#nameDescription h1,
#o-nama-lokacija h1 {
    font-weight: bold;
}

#o-nama-lokacija-red {
    background-color: #e40319;
}

#orderHistoryTitle {
    border-width: 5px 0 0 0;
    padding-top: 10px;
    border-color: #e40319;
    border-style: solid;
}

.btn-themed {
    border-color: #e40319;
    color: black;
}

.btn-themed:hover {
    border-color: white;
    background-color: #e40319;
    color: white;
}

@media (min-width: 768px) {
    .position-md-fixed {
        position: fixed;
        background-color: #f00;
        /* Red background color */
        color: #fff;
        /* White text color */
        padding: 10px;
        height: 100vh;
    }
}


.sidebar-link {
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    margin: 0 0 0 0;
    color: black;
}

.card-img {
    object-fit: cover;
}

.btn-group[role="gradeGroup"] button{
    color: black;
    border-color: #e40319;
}

.btn-group[role="gradeGroup"] button:hover{
    background-color: #e40319;
    color: white;
}

.btn-group[role="gradeGroup"] button.selected{
    background-color: #e40319;
    color: white;
}

.btn-group[role="gradeGroup"]{
    margin-left: 10px;
}

.starsRating{
    font-size: 20px;
}

#portionNumber{
    border-color: #e40319;
    color: #e40319;
}