<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index.html">
      <img src="images/logo.png" alt="Logo" id="logoimg">
    </a>
    <a class="navbar-brand" href="/index.html" id="logoname"><b>Xi-jajno</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-center ms-auto d-flex align-items-center">
        <li class="nav-item mx-2">
          <a class="nav-link srb" href="/index.html">Početna</a>
          <a class="nav-link eng" href="/index.html">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link srb" href="/jelovnik.html">Jelovnik</a>
          <a class="nav-link eng" href="/jelovnik.html">Menu</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link srb" href="/galerija.html">Galerija</a>
          <a class="nav-link eng" href="/galerija.html">Gallery</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link srb" href="/o-nama.html">O nama</a>
          <a class="nav-link eng" href="/o-nama.html">About us</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link srb" href="/moj-nalog.html">Moj nalog</a>
          <a class="nav-link eng" href="/moj-nalog.html">My account</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="" id="srb">SRB</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="" id="eng">ENG</a>
        </li>
      </ul>
    </div>
  </div>
</nav>