<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index.html">
      <img src="images/logo.png" alt="Logo"  id="logoimg">
    </a>
    <a class="navbar-brand" href="/index.html" id="logoname"><b>Xi-jajno</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-center ms-auto">
        <li class="nav-item mx-3">
          <a class="nav-link" href="/index.html">Početna</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="/jelovnik.html">Jelovnik</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="/galerija.html">Galerija</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="/o-nama.html">O nama</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="/moj-nalog.html">Moj nalog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>